<section class="hero is-primary is-medium", style = "height: 400px;">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          
          <%= link_to categories_path, class: 'navbar-item' do %>            
            <span class = 'has-textweight-bold is-size-5'>Categories</span>
          <% end %>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered", style = "margin-top: -50px;">
      <h1 class="title">
        Everyday Journal
      </h1>
      <h2 class="subtitle">
        Plan and organize your tasks
      </h2>
      
      <%= link_to 'Add a Category', new_category_path(@category),  class: 'button is-gray' %>
    </div>
  </div>

</section>