<div class = "columns is-centered">
    <div class = "column is-two-thirds">
        
        <p class="notice" style = "color: red"><%= notice %></p>
        <p class="alert" style = "color: red"><%= alert %></p>
        
    </div>
</div>
